<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h1>ACTIVITY</h1>
    <p>Stay active and enjoy better health and more fun!</p>
  </section>
  <section>
    <h1>COMMUNITY</h1>
    <p>Get to know other people who share your passion!</p>
  </section>
  <section>
    <h1>CHALLENGES</h1>
    <p>Never stop! Dive into new challenges every day</p>
  </section>
</div>
<mat-sidenav-container>

  <mat-sidenav-content role="region">

    <mat-card *ngFor="let animals  of animals | async">
        <mat-card-title>{{animals.name}}</mat-card-title>
        <img [srcset]="animals.photo" [alt]>
        <mat-card-content>

          <dl class="myContent">
          <dt class="mat-small">Name</dt>
          <dd class="mat-body-2">{{ animals.name}}</dd>
          <dt class="mat-small">Scientific</dt>
          <dd class="mat-body-2">{{ animals.ScientificName }}</dd>
          <dt class="mat-small">Status</dt>
          <dd class="mat-body-2">{{ animals.status }}</dd>
          <dt class="mat-small">Range</dt>
          <dd class="mat-body-2">{{ animals.Range }}</dd>
        </dl>
      </mat-card-content>
    </mat-card>
</mat-sidenav-content>

</mat-sidenav-container>


<footer class="mat-toolbar mat-primary mat-toolbar-single-row"></footer>
